/* src/components/routes/MainFiles/MainFiles.css */

.mainfiles-container {
    /* background-color: rgb(233, 233, 233);  */
    /* padding: 10px; */
    margin: auto;
    height: 55vh;
    overflow-y: auto;
    margin-top: 5vh;
    width: 100%;
}

.blank-space {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    font-size: 16px;
    text-align: center;
}

.file-table-container {
    margin-bottom: 20px;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.file-table-container.visible {
    opacity: 1;
    transform: translateY(0);
}

.file-table {
    width: 95%;
    /* max-width: 1000px; */
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64, 64, 64, 0.1);
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

th, td {
    padding: 5px;
    text-align: left;
}

th {
    background-color: #EF6F53;
    color: #fff;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    width: 17.5vw;
    font-size: 0.75rem;
}

td {
    border-bottom: 1px solid #ddd;
    font-size: 0.75rem;
}

tr:last-child td {
    border-bottom: none;
}

tr:hover {
    background-color: #f1f1f1;
}

button.toggle-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 16px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.highlight {
    background-color: #EF6F53;
    color: white;
    font-weight: bold;
}


/* Add this to the existing MainFiles.css */

mainfiles-container .mark {
    background-color: yellow;
    color: black;
    
}
